@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #F0F0F0;
}

section {
  min-height: 100vh; /* cada seção ocupa a tela inteira */
  padding: 80px 20px; /* evita que o conteúdo encoste no topo */
}


/* ===== HEADER ===== */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 10dvh;
  position: fixed;
  width: 100%;
  margin-top: 10px;
  z-index: 1000;
}

.navbar {
    border-radius: 50px;
    background: transparent;
    transition: background 0.3s ease, color 0.3s ease;
}
.navbar ul {
  padding: 20px 40px;
  list-style: none;
  display: flex;
  gap: 100px;
}

.navbar a {
  font-family: Inter;
  color: #FE6D24;
  text-decoration: none;
  font-weight: bold;
}

.navbar.scrolled {
 border-radius: 50px;
 background-color: #FE6D24;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar.scrolled a {
    color: #F0F0F0;
}

.navbar.scrolled a.active {
    border-bottom: 2px solid #F0F0F0;
    padding-bottom: 5px;
}

.navbar a.active {
    border-bottom: 2px solid #FE6D24;
    padding-bottom: 5px;
}

/* ===== HOME SECTION ===== */

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 60px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home > .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.home > .welcome h1 {
    color: #FE6D24;
    font-size: 2rem;
    margin-bottom: -80px;
    margin-left: 50px;
}

.home > .welcome img {
  width: 500px;
}

.home > .src {
    display: flex;
    flex-direction: column;
    margin-top: 2dvh;
}

.home > .link {
    background-color: #FE6D24;
    border-radius: 30px;
    display: flex;
    margin-top: 7dvh;
    transition: 0.3s ease;

}

.home > .link a {
  font-weight: bold;
  font-family: Quicksand;
    font-size: 1.5rem;
    color: #F0F0F0;
    text-decoration: none;
    padding: 10px 30px;
}

.home > .link:hover {
    background-color: #e65c1a;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ===== ABOUT SECTION ===== */

.about{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  gap: 50px;
}

.about > .text {
  max-width: 800px;
  height: fit-content;
}

.about > .text h2 {
  font-family: Inter;
  color: #FE6D24;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  }

.about > .text p {
  font-family: Inter;
  color: #D65B1D;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
  }

  /* ===== STEPS SECTION ===== */

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps h2 {
  font-family: Inter;
  color: #FE6D24;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.blocks{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  min-height: 400px;
  margin-top: 40px;
}

.blocks > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.blocks > div:hover {
  background-color: #e65c1a;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.blocks > div h3 {
  font-family: Inter;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 600;
}

.blocks > div p {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5; 
}

.blocks > .block1 {
  background-color: #FE6D24;
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #F0F0F0;
}

.blocks > .block2 {
  background-color: #FE6D24;
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #F0F0F0;
  margin-top: auto;
}

.blocks > .block3 {
  background-color: #FE6D24;
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #F0F0F0;
}

.blocks > .block4 {
  background-color: #FE6D24;
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #F0F0F0;
  margin-top: auto;
}

.blocks > .block5 {
  background-color: #FE6D24;
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #F0F0F0;
}

/* ===== DONE SECTION ===== */


.done{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  gap: 80px;
}

.done > .topics {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: fit-content;
}

.done > .topics > .time_line{
  display: flex;
  flex-direction: column;
  height: 62dvh;
  justify-content: space-between;
  margin-right: 50px;
  align-items: center;
}

.done > .topics > .time_line >div{
  background-color: #FE6D24;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.done > .topics > .time_line > .topic_item{
  color: #F0F0F0;
  font-family: Inter;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.done > .src {
  display: flex;
  flex-direction: column;
  margin-top: 2dvh;
}

.done > .topics h2 {
  font-family: Inter;
  color: #FE6D24;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
  }

  .done > .topics ul {
    list-style-type: none;
  }

.done > .topics li{
  font-family: Inter;
  color: #D65B1D;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
}

.done > .topics p {
  font-family: Inter;
  color: #D65B1D;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
  }