@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

:root {
  --cor-primaria: #fe6d24;
  --cor-secundaria: #e65c1a;
  --cor-terciaria: #d65b1d;
  --cor-fundo: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #f0f0f0;
}

section {
  min-height: 100vh;
  padding: 80px 20px;
}

/* ===== HEADER ===== */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 10dvh;
  position: fixed;
  width: 100%;
  margin-top: 10px;
  z-index: 1000;
}

.navbar {
  border-radius: 50px;
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}
.navbar ul {
  padding: 20px 40px;
  list-style: none;
  display: flex;
  gap: 100px;
}

.navbar a {
  font-family: Inter;
  color: var(--cor-primaria);
  text-decoration: none;
  font-weight: bold;
}

.navbar.scrolled {
  border-radius: 50px; /* bordas arredondadas */
  background: rgba(254, 109, 36, 0.7); /* laranja com transparência */
  backdrop-filter: blur(10px); /* efeito vidro */
  -webkit-backdrop-filter: blur(10px); /* Safari */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* sombra suave */
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.scrolled a {
  color: var(--cor-fundo); /* textos ficam claros */
}

.navbar.scrolled a.active {
  border-bottom: 2px solid var(--cor-fundo);
  padding-bottom: 5px;
}

.navbar a.active {
  border-bottom: 2px solid var(--cor-primaria);
  padding-bottom: 5px;
}

/* ===== HOME SECTION ===== */

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 60px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home > .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.home > .welcome h1 {
  color: var(--cor-primaria);
  font-size: 2rem;
  margin-bottom: -80px;
  margin-left: 50px;
}

.home > .welcome img {
  width: 500px;
}

.home > .src {
  display: flex;
  flex-direction: column;
  margin-top: 2dvh;
}

.home > .link {
  background-color: var(--cor-primaria);
  border-radius: 30px;
  display: flex;
  margin-top: 7dvh;
  transition: 0.3s ease;
}

.home > .link a {
  font-weight: bold;
  font-family: Quicksand;
  font-size: 1.5rem;
  color: var(--cor-fundo);
  text-decoration: none;
  padding: 10px 30px;
}

.home > .link:hover {
  background-color: var(--cor-secundaria);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ===== ABOUT SECTION ===== */

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about > .text {
  max-width: 800px;
  height: fit-content;
}

.about > .text h2 {
  font-family: Inter;
  color: var(--cor-primaria);
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

.about > .text p {
  font-family: Inter;
  color: var(--cor-terciaria);
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
}

/* ===== STEPS SECTION ===== */

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps h2 {
  font-family: Inter;
  color: var(--cor-primaria);
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.blocks {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  min-height: 400px;
  margin-top: 40px;
}

.blocks > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.blocks > div:hover {
  background-color: var(--cor-secundaria);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.blocks > div h3 {
  font-family: Inter;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: 600;
}

.blocks > div p {
  font-family: Inter;
  font-size: 1rem;
  margin: 20px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}

.blocks > .block1 {
  background-color: var(--cor-primaria);
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #f0f0f0;
}

.blocks > .block2 {
  background-color: var(--cor-primaria);
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #f0f0f0;
  margin-top: auto;
}

.blocks > .block3 {
  background-color: var(--cor-primaria);
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #f0f0f0;
}

.blocks > .block4 {
  background-color: var(--cor-primaria);
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #f0f0f0;
  margin-top: auto;
}

.blocks > .block5 {
  background-color: var(--cor-primaria);
  border-radius: 30px;
  width: 17%;
  height: 300px;
  text-align: center;
  color: #f0f0f0;
}

/* ===== DONE SECTION ===== */

.done {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.done > .topics {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: fit-content;
}

.done > .topics > .time_line {
  display: flex;
  flex-direction: column;
  height: 62dvh;
  justify-content: space-between;
  margin-right: 50px;
  align-items: center;
}

.done > .topics > .time_line > div {
  background-color: var(--cor-primaria);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.done > .topics > .time_line > .topic_item {
  color: var(--cor-fundo);
  font-family: Inter;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.done > .src {
  display: flex;
  flex-direction: column;
  margin-top: 2dvh;
}

.done > .topics h2 {
  font-family: Inter;
  color: var(--cor-primaria);
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.done > .topics ul {
  list-style-type: none; /* remove os marcadores padrão */
  padding-left: 0;
}

.done > .topics li {
  margin-bottom: 20px; /* espaço entre os itens */
}

.done > .topics li h4 {
  font-family: Inter;
  color: var(--cor-primaria);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.done > .topics li p {
  font-family: Inter;
  color: var(--cor-terciaria);
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0;
}

/* ===== CHALLENGES SECTION ===== */

.challenges {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.challenges > .src_left {
  margin-top: 20px;
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challenges > .container {
  margin-top: 20px;
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.challenges > .container > .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 20px;
}

.challenges > .container > .text h1 {
  font-family: Inter;
  color: var(--cor-primaria);
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.challenges > .container > .text p {
  font-family: Inter;
  color: var(--cor-terciaria);
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
}

.challenges > .container > .src_right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50%;
}